<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/sanitize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body class="container">
    <header>
      <h1 class="display-4"><%= title %></h1>
    </header>
    <main>
      <p class="h4"><%= userName %></p>
      <table class="table mt-5">
        <% for (let i in content) { %>
        <%- include('data_item', {val: content[i]}) %>
        <% } %>
      </table>

      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a
            class="page-link"
            href="/boards/home?user=<%= userName %>&id=<%= userId %>&page=<%= page - 1 %>"
          >
            &lt;&lt; prev
          </a>
        </li>
        <li class="page-item">
          <a
            class="page-link"
            href="/boards/home?user=<%= userName %>&id=<%= userId %>&page=<%= page + 1 %>"
          >
            next &gt;&gt;
          </a>
        </li>
      </ul>
    </main>
    <div class="text-left">
      <a href="/boards">&lt;&lt; Top.</a>
    </div>
    <script type="text/javascript" src="/javascripts/script.js"></script>
  </body>
</html>
